spring:
  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: demo-consumer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.LongDeserializer

logging:
  level:
    root: WARN
    org.springframework.web: INFO
    com.daasworld: DEBUG